* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
  --cardSize: 100px;
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url(../images/table.jpg);
	background-size: 100% auto;
}

#playground {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Schachteln */

.box {
	display: inline-block;
	border-radius: 8px;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
	margin: 60px 300px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.box:hover {
	transform: scale(1.02);
}

/* Karten */

.card {
	margin: 10px;
	position: relative;
	list-style: none;
	/*display: inline-block;*/
	float: left;
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
	transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
}
.front, .back {
	position: absolute;
  	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
  	backface-visibility: hidden;
}
.front {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center; 
	transform: rotateY(180deg);
	cursor: default;
}
.back {
	cursor: pointer;
}

/* Grid */

ul.small {
	width: 720px;
	height: 360px;
	position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -360px;
}
.small .card {
	width: 100px;
	height: 100px;
}

ul.large {
	width: 1200px;
	height: 600px;
	position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -600px;
}
.large .card {
	width: 100px;
	height: 100px;
}

/* Junior */

.card.junior,.junior .front,.junior .back {
	border-radius: 2px;
}
.junior .front {
	border: 5px solid beige;
}

/* Animations */

@keyframes up {
	0% {transform: rotateY(0deg);}
	100% {transform: rotateY(180deg);}
}
@keyframes down {
	0% {transform: rotateY(180deg);}
	50% {transform: rotateY(180deg);}
	100% {transform: rotateY(0deg);}
}
.up {
	animation: up 1s ease-in-out forwards;
}
.down {
	animation: down 2s ease-in-out forwards;
}