* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	--cardSize: 100px;
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url(../images/table.jpg);
}

@media (aspect-ratio > 1) {
	body {
		background-size: 100vw auto;
	}
}

@media (aspect-ratio <= 1) {
	body {
		background-size: auto 100vh;
	}
}


#playground {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

/* Schachteln */

.box {
	display: inline-block;
	border-radius: 8px;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
	margin: 60px 300px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.box:hover {
	transform: scale(1.02);
}

/* Karten */

.card {

	position: relative;
	list-style: none;
	float: left;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.front {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotateY(180deg);
	cursor: default;
}

.back {
	cursor: pointer;
}

/* Grid */



ul {
	position: absolute;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	align-content: center;
	justify-content: center;
	margin: auto;
}

.card {
	width: 20vw;
	height: 20vw;
	margin: 0.5vw;
}

@media screen and (aspect-ratio > 0.29) {
	ul {
		grid-template-columns: repeat(4, 1fr);
	}

	.card {
		width: 22vw;
		height: 22vw;
	}
}

@media screen and (aspect-ratio > 0.35) {
	ul {
		grid-template-columns: repeat(6, 1fr);
	}

	.card {
		width: 15vw;
		height: 15vw;
	}
}

@media screen and (aspect-ratio > 0.78) {
	ul {
		grid-template-columns: repeat(8, 1fr);
	}

	.card {
		width: 11vw;
		height: 11vw;
	}
}

@media (aspect-ratio > 1.35) {

	ul {
		grid-template-columns: repeat(12, 1fr);
	}

	.card {
		width: 7vw;
		height: 7vw;
	}
}

@media (aspect-ratio > 2.7) {
	ul {
		grid-template-columns: repeat(16, 1fr);
	}

	.card {
		width: 5.1vw;
		height: 5.1vw;
	}
}




















/* Junior */

.card.junior,
.junior .front,
.junior .back {
	border-radius: 2px;
}

.junior .front {
	border: 5px solid beige;
}

/* Animations */

@keyframes up {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(180deg);
	}
}

@keyframes down {
	0% {
		transform: rotateY(180deg);
	}

	50% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(0deg);
	}
}

.up {
	animation: up 1s ease-in-out forwards;
}

.down {
	animation: down 2s ease-in-out forwards;
}